<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Original URL: https://curious.justgoodthemes.com/
    Date Downloaded: 6.05.2019 12:44:40 !-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <title>NS Gezi Rehberi </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @*<link href="../fonts.googleapis.com/css_c7d386a6.css" rel="stylesheet" type="text/css" />*@
    <link href="@Html.VersiyonEkle("assets/css/style_2ef39560.css")" rel="stylesheet" />
    <link href="@Html.VersiyonEkle("assets/css/ghost.min_2ef39560.css")" rel="stylesheet" />

    <script type="text/javascript">
        var disqus_shortname = 'justgoodthemes', // replace my_disqus_shortname with your shortname
            instagram_user_id = '2372162651', // add your Instagram user ID
            instagram_access_token = 'https://curious.justgoodthemes.com/2372162651.d4daff6.d6c91752b4914a8da6e01a85747ae89e/'; // add your Instagram access token
    </script>

    <meta name="description" content="The Curious is an online magazine dedicated to travel, lifestyle, architecture, interior design, fashion and technology." />
    <link rel="shortcut icon" href="~/assets/images/ns copy.png" type="image/x-icon" />
    <link rel="canonical" href="index.html" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <link rel="next" href="page/2/index.html" />

    <meta property="og:site_name" content="Curious" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Curious" />
    <meta property="og:description" content="The Curious is an online magazine dedicated to travel, lifestyle, architecture, interior design, fashion and technology." />
    <meta property="og:url" content="index.html" />
    <meta property="og:image" content="content/images/2017/09/deer-hero.jpg" />
    <meta property="article:publisher" content="https://www.facebook.com/justgoodthemes" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Curious" />
    <meta name="twitter:description" content="The Curious is an online magazine dedicated to travel, lifestyle, architecture, interior design, fashion and technology." />
    <meta name="twitter:url" content="https://curious.justgoodthemes.com/" />
    <meta name="twitter:image" content="https://curious.justgoodthemes.com/content/images/2017/09/deer-hero.jpg" />
    @*<meta name="twitter:site" content="@justgoodthemes" />*@

    @*<script type="application/ld+json">
        {
        "@context": "../schema.org/index.html",
        "@type": "WebSite",
        "publisher": {
        "@type": "Organization",
        "name": "Curious",
        "logo": {
        "@type": "ImageObject",
        "url": "favicon.ico",
        "width": 60,
        "height": 60
        }
        },
        "url": "index.html",
        "image": "content/images/2017/09/deer-hero.jpg",
        "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "index.html"
        },
        "description": "The Curious is an online magazine dedicated to travel, lifestyle, architecture, interior design, fashion and technology."
        }
    </script>*@

    <script src="public/ghost-sdk.min_2ef39560.js"></script>
    <script>
        ghost.init({
            clientId: "ghost-frontend",
            clientSecret: "811c79855dc7"
        });
    </script>
    <meta name="generator" content="Ghost 2.9" />
    <link rel="alternate" type="application/rss+xml" title="Curious" href="rss/index.html" />
</head>
<body class="home-template">
    @RenderBody()
</body>
</html>